@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

/*----------------*/
/*     INDEX      */
/*----------------*/
body{
    background-color: #fdf3d6;
    font-size: 18px;
}

h1, h3{
   color: #B61A16
}

h2{
    color:#1e4f74;
    font-size: 18px;
    margin:0;
}

h1{
    font-size: 50px;
    margin:0;
}

/*----------------*/
/*  SÉLECTEURS    */
/*----------------*/
#choix_parcours label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

#choix_parcours select {
  width: 100%;
  margin-top: 5px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.3);
}

#calcul_moyenne{
    display: none;
    font-size: 30px;
    padding :0px;
}

#specialite{
    display: none; 
}

.placeholder{
    font-style: italic;
    color: grey;
}

/*----------------*/
/*    TABLEURS    */
/*----------------*/
#tab{
    display: flex;
    border-spacing: 0px;
    width: 100%;
}

#tab table{
    border-collapse: collapse;
    border-radius: 7px;       
    overflow: hidden;   
    width:100%;
    margin-right: 10px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.3);
}

#tab th{
    background-color:#1e4f74;
    border : 1px solid black;
    color:white;
    padding:2px;
}

#tab td, td input{
    color: black;
    border:1px solid black;
    padding:2px;
    padding-left: 5px;
    padding-right: 5px;
}

input{
    width: 100%;
    height: 100%;
}

.maj0{background-color: #527A95;}
.maj1{background-color: #7AA5B7;}
.maj2{background-color: #A2CED8;}
.maj3{background-color: #C8E6EB;}
.maj3 input{background-color: #C8E6EB; border: none;}

.min0{background-color: #527A95}
.min1{background-color: #7AA5B7;}
.min2{background-color: #A2CED8;}
.min3{background-color: #C8E6EB;}
.min3 input{background-color: #C8E6EB; border: none;}

.tra0{background-color: #527A95}
.tra1{background-color: #7AA5B7;}
.tra2{background-color: #A2CED8;}
.tra3{background-color: #C8E6EB;}
.tra3 input{background-color: #C8E6EB; border: none;}


/*----------------*/
/*     POLICE     */
/*----------------*/

.lexend_normal{
    font-family: "Lexend", sans-serif;    
    font-weight: 450;
    font-style: normal;
}

.lexend_bold{
    font-family: "Lexend", sans-serif;    
    font-weight: 700;
    font-style: normal;
}

.Lilita_normal{
    font-family: "Lilita One", sans-serif;    
    font-weight: 400;
    font-style: normal; 
}

.text_center{
    text-align: center;
}

.text_left{
    text-align:left;
}

/*----------------*/
/*     foot     */
/*----------------*/

footer{
    background-color: #1e4f74;
}

footer #info{
  display: flex;
  padding: 5px;
}

footer h3{
  padding: 5px;
  color:white;
  vertical-align: top;
}

footer table{
    color:white;
}

footer table tr td a{
    text-decoration: none;
    color:white;
}

footer img{
    width: 15px;
    height: 15px;
    vertical-align:middle;
    margin-right:3px;
}
